[Unit]
Description=Sends every 5 minutes update on temperature

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Unit=temp_upload.service

[Install]
#WantedBy=timers.target
WantedBy=multi-user.target
