[Unit]
Description=A SSH tunel with back-forwarded ports to allow a connection to the instance
Requires=sshd.service

[Service]
ExecStart=/usr/bin/autossh -f 
KillMode=process
Restart=always
Type=simple
User=autossh
Group=autossh

[Install]
WantedBy=multi-user.target
