[Unit]
Description=YAWS
Wants=sshdgenkeys.service
After=sshdgenkeys.service

[Service]
ExecStart=/usr/bin/yaws -D
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target

